{% extends 'header_footer.html' %}

    {% block head %}
        <title>Online-newspaper</title>
    {% endblock %}

{% block middle %}

    <div id="middle" class="container">
      <div class="container">
        <p>Source code on <a href="https://github.com/haykhman/online-newspaper" target="_blank">GitHub</a></p>
      </div>
    </div>

{% endblock %}





































        <form action="" method="POST">
            {% csrf_token %}
            {{ create_initial_article_fileds.category }}

            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text" id="id_keywords_notchangable">{{ current_year }}-</div>
                </div>
                {{ create_initial_article_fileds.keywords }}
            </div>



            <button onclick="addDateToKeywords()" type="submit">{% trans 'Save' %}</button>
        </form>


  <div style="display:none;" id="additional_information">
      <p id="year">{{ current_year }}-</p>


  </div>



  <script>
      function addDateToKeywords(){
        var keywords_text = $('#id_keywords').val();
        var year = $('#year').text();
        $('#id_keywords').val(year + keywords_text)
      }
  </script>
