# Byte-compiled / optimized / DLL files
__pycache__/
migrations/

.git/

*.pyc
.idea/


# Translations
locale/
*.mo
*.po

# Django stuff:
settings.py
wsgi.py
media/**
static/librarys/

# Environments
venv/
