.full-w{
  width: 100%;
  height: auto;
}

.height-sm{
  height: 5px;
}

.height-s{
  height: 10px;
}

.height-m{
  height: 20px;
}

.height-l{
  height: 30px;
}

.inline-block{
  display: inline-block !important;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.horizontal-align-center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.shadow-top{
  box-shadow: 0px 0px 7px 3px #c2c2c2;
}