.logo{
  cursor: pointer;
  color: #777777 !important;
}

.buttom-border{
  border-bottom: 1.5px solid black;
}

.font-color-white{
  color: #ffffff !important;
}

.font-color-black{
  color: #000000 !important;
}

.font-color-grey{
  color: #777777 !important;
}


#middle{
  min-height: 500px;
}

.footer-logo{
  max-width: 200px;
}

.ul{
  list-style-type: none;
  overflow: hidden;
  text-align: justify;
}

.li{
  height: 40px;
}

.profile-img{
  max-height: 70px !important;
  width: auto;
  max-width: 100% !important;
}

.profile-but{
  margin-top: 10px !important;
}

.hover-bg-light:hover{
  background-color: #f7f7f7;
}

.link-none-underline:hover{
  text-decoration: none;
}

.menu{
  height: 100%;
  width: 0%;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #fbfbfb;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 10px;
}

.cursor-default{
  cursor: default;
}