{% load i18n %}
{% get_current_language as language_code %}

<a href="/article/get/{{ language_code }}/{{ article.initial.keywords }}" class="link-none-underline">
    <div class="card mb-4">
        <img class="card-img-top" src="/media/{{ article.main_image }}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{ article.title }}</h5>
            <p class="card-text">{{ article.description }}</p>
            <p class="card-text"><small class="text-muted">{{ article.date_time }}</small></p>
        </div>
    </div>
</a>
