{% extends 'header_footer.html' %}
{% load i18n %}

    {% block head %}
        <title>Online-newspaper</title>
    {% endblock %}

{% block middle %}


    <div id="middle" class="container">

        <div class="container mt-3 mb-3">
            <div class="row">
            <div class="col- col-md-1"></div>
            <div class="col-12 col-md-10">
                <span class="badge badge-light">
                <a href="#" class="text-secondary">
                    <b><i class="fas fa-angle-double-left"></i> Go back</b>
                </a>
                </span>
            </div>
            <div class="col- col-md-1"></div>
            </div>
        </div>


        <div class="container">
        <div class="row">
          <div class="col-1 col-sm-2 col-md-3 col-lx-5"></div>
          <div class="col-10 col-sm-10 col-md-6 col-lx-2 border border-light rounded shadow p-3 mb-5 bg-white">
            <h3 class="text-center">{% trans "Sign Up" %}</h3>
            <form action="" method="post">
              {% csrf_token %}
              <div class="full-w height-l"></div>
              <div class="form-group">
                {{ sign_up_form.email }}
                <div class="full-w height-m"></div>
                {{ sign_up_form.first_name }}
                 <div class="full-w height-m"></div>
                {{ sign_up_form.last_name }}
                <div class="full-w height-m"></div>
                {{ sign_up_form.password }}
              </div>
              <div class="full-w height-s"></div>
              <script src='https://www.google.com/recaptcha/api.js'></script>
              <div class="g-recaptcha" data-sitekey="6Ld8uWIUAAAAAEhsSqHdh5RIxYWMjC890cZ6vivZ"></div>
              <div class="full-w height-s"></div>
              <button type="submit" class="btn btn-primary">{% trans "Sign Up" %}</button>
              <div class="full-w height-m"></div>
            </form>
          </div>
          <div class="col-1 col-sm-2 col-md-3 col-lx-5"></div>
        </div>
      </div>


    </div>

{% endblock %}
