{% extends 'header_footer.html' %}
{% load i18n %}

    {% block head %}
        <title>Online-newspaper</title>
    {% endblock %}

{% block middle %}

  <div id="middle" class="container">

      <div class="container">
        <div class="row">
          <div class="col- col-md-1"></div>
          <div class="col-12 col-md-10 border border-light rounded shadow p-3 mb-5 bg-white">
            <h3 class="text-center">Mixed Articles Configuration</h3>
            
            <div class="container">
              <div class="row">
                <div class="col- col-md-1"></div>
                <div class="col-12 col-md-10 border border-light rounded shadow p-3 mb-5 bg-white">
                  <p class="h6">Get Current Configurations</p>
                  <div class="container text-center">
                    <a href="/configuration/mixed_articles" target="_blank" type="button" class="btn btn-outline-secondary">{% trans 'Download' %}</a>
                  </div>
                  <div class="full-w height-s"></div>
                </div>
              </div>
            </div>

            <div class="container">
              <div class="row">
                <div class="col- col-md-1"></div>
                <div class="col-12 col-md-10 border border-light rounded shadow p-3 mb-5 bg-white">
                  <p class="h6">Upload Mixed Articles Configuration</p>
                  <div class="container">
                    <form enctype="multipart/form-data" action="/configuration/mixed_articles" method="post">
                      {% csrf_token %}
                      <input type="file" name="mixed_articles">
                      <div class="full-w height-s"></div>
                      <button type="submit" class="btn btn-primary" id="">{% trans 'Upload' %}</button>
                    </form>
                  </div>
                  <div class="full-w height-s"></div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>

  </div>

{% endblock %}